# AlignAfterOpenBracket: Align
# AlignConsecutiveAssignments: 'false'
# AlignConsecutiveDeclarations: 'false'
# AlignEscapedNewlines: Left
# AlignOperands: 'true'
# AllowAllParametersOfDeclarationOnNextLine: 'false'
# AllowShortBlocksOnASingleLine: 'false'
# AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: All
# AllowShortIfStatementsOnASingleLine: 'false'
# AllowShortLoopsOnASingleLine: 'false'
# AlwaysBreakAfterReturnType: All
# AlwaysBreakBeforeMultilineStrings: 'false'
# BinPackArguments: 'true'
# BinPackParameters: 'true'
# BreakBeforeBinaryOperators: NonAssignment
# BreakBeforeBraces: GNU
# BreakBeforeTernaryOperators: 'true'
# BreakStringLiterals: 'true'
# ContinuationIndentWidth: '2'
# DerivePointerAlignment: 'false'
# IncludeBlocks: Regroup
# IndentCaseLabels: 'false'
# IndentWrappedFunctionNames: 'false'
# KeepEmptyLinesAtTheStartOfBlocks: 'false'
# MaxEmptyLinesToKeep: '1'
# PointerAlignment: Right
# ReflowComments: 'true'
# SpaceAfterCStyleCast: 'true'
# SpaceBeforeAssignmentOperators: 'true'
# SpaceBeforeParens: Always
# SpaceInEmptyParentheses: 'false'
# SpacesInCStyleCastParentheses: 'false'
# SpacesInParentheses: 'false'
# SpacesInSquareBrackets: 'false'
# AlignTrailingComments: 'true'
ColumnLimit: '100'
SortIncludes: 'false'
IndentWidth: '4'
Language: Cpp
UseTab: Never